{% extends 'base.html.twig' %}

{% block title %}Giveaway{% endblock %}

{% block body %}
    <h1>Giveaway</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ giveaway.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ giveaway.Description }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>
                    {% for us in giveaway.user %}
                        {{ us.username }} | 
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('giveaway_index') }}">back to list</a>

    <a href="{{ path('giveaway_edit', {'id': giveaway.id}) }}">edit</a>

    {{ include('giveaway/_delete_form.html.twig') }}
{% endblock %}
